#top-nav {
    position: fixed;
    width: 100vw;
    align-items: center;
    gap: 80px;
    justify-content: center;
    z-index: var(--layer-1);
    background-color: var(--background-card);
    height: 48px;
    a {
        padding: 8px 16px;
        text-decoration: none;
        transition: all var(--animation-time-1);
        &.selected, &:hover {
            .text-headline-secondary {
                color: var(--selected-secondary) !important;
            }
            background-color: rgba(255, 255, 255, 0.308);
        }
    }
}
@media (max-width: 1000px) {
    #top-nav {
        gap: 16px;
    }
}