$top-bar-height: 48px;
#jdg-modal {
    position: fixed;
    width: 100%;
    height: calc(100% - $top-bar-height);
    background-color: var(--background-modal-overlay);
    align-items: center;
    justify-content: center;
    z-index: var(--layer-2);
    margin-top: $top-bar-height;
    #jdg-modal-content {
        z-index: var(--layer-3);
        background-color: var(--background-modal);
        padding: 48px 24px 24px;
        min-width: 200px;
        max-width: 880px;
        margin: 0 8px;
        height: min-content;
        max-height: calc(100% - 96px);
        min-height: min-content;
        border-radius: var(--round-medium);
        .text-headline-secondary {
            color: var(--dark) !important;
            font-weight: bolder;
        }
    }
}
$top-bar-height-doubled: calc($top-bar-height * 2);
@media (max-width: 1000px) {
    #jdg-modal {
        #jdg-modal-content {
            width: calc(100% - 32px);
            padding: 48px 16px 24px;
            &.max-height {
                height: calc(100% - $top-bar-height-doubled);
            }
        }
    }
}