:root {
    --animation-time-1: 0.167s;
    --animation-time-2: 0.267s;
    --animation-time-3: 0.367s;
    --font-h1: 40px;
    --font-h2: 32px;
    --font-h3: 24px;
    --font-h4: 20px;
    --font-h5: 18px;
    --font-sub-headline: 16px;
    --font-body: 14px;
    --font-button: 16px;
    --round-small: 4px;
    --round-medium: 8px;
    --round-large: 12px;
    --layer-1: 100;
    --layer-2: 200;
    --layer-3: 300;
    --layer-4: 400;
    --layer-5: 500;
    .Resume, .Contact, .SpaceNews, .Gallery {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #6b71e2;
        --theme-secondary: #6f50cb;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #5f0074;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);


        /* SIDEBAR */
        --sidebar-button: #34004b;
        --sidebar-button-text: #5da9ff;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: #fff;
        --sidebar-background: #34004b;

        /* TEXT COLORS */
        --text-headline: #ffffff;
        --text-headline-secondary: #6cbfff;
        --text-sub-headline: #b095ff;
        --text-body: #f3f3f3;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #f6f6f6;

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff;
        --background-secondary: #222;
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-modal: #ffffff;
        --background-card: #020513d3;
        --background-modal-overlay: #00000071;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #63636333 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .Enterprise {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #c7bee6;
        --theme-secondary: #a1ecff;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #004768;
        --action-secondary: #006abc;
        --action-option: #00d8e3;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);


        /* SIDEBAR */
        --sidebar-button: #012154;
        --sidebar-button-text: #7987a2;
        --sidebar-button-hover: #727799;
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: #a1a9da;
        --sidebar-button-selected-text: #444;
        --sidebar-background: rgb(0, 0, 0);

        /* TEXT COLORS */
        --text-headline: #c7bee6;
        --text-headline-secondary: #daccb9;
        --text-sub-headline: #c6c6c6;
        --text-body: #ffffff;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #626262;

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff;
        --background-secondary: radial-gradient(#111016,#1f1d2a);
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-card: #302c44;
        --background-modal: #000000f5;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #00000033 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
        
    }
    .Spooky {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #d86dff;
        --theme-secondary: #7500c3;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #9616eb;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);


        /* SIDEBAR */
        --sidebar-button: #d86dff;
        --sidebar-button-text: #333;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: #fff;
        --sidebar-background: #d86dff;

        /* TEXT COLORS */
        --text-headline: #ffecfb;
        --text-headline-secondary: #e5d6ff;
        --text-sub-headline: #ffb8ff;
        --text-body: #e693ff;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #eaadff;

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff;
        --background-secondary: #3c0056;
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-modal: #1f0034f1;
        --background-card: #682899;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #56568233 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .Sales {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #ffd5fd;
        --theme-secondary: #a8eeff;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #ffd5fd;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);

        /* SIDEBAR */
        --sidebar-button: #ffd5fd;
        --sidebar-button-text: #9e9999;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: rgb(74, 0, 83);
        --sidebar-background: #ffd5fd;

        /* TEXT COLORS */
        --text-headline: #ffa6c3;
        --text-headline-secondary: #004981;
        --text-sub-headline: #00566c;
        --text-body: #333;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #ff6dc2;

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff;
        --background-secondary: #fff;
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-modal: #000000f5;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #63636333 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .Test {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #1e3961;
        --theme-secondary: #000231;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #29a2ff;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);

        /* SIDEBAR */
        --sidebar-button: #000000;
        --sidebar-button-text: #9e9999;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: #fff;
        --sidebar-background: #000000;

        /* TEXT COLORS */
        --text-headline: #346081;
        --text-headline-secondary: #004981;
        --text-sub-headline: #00566c;
        --text-body: #333;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #626262;

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff;
        --background-secondary: #f3f3f3;
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-modal: #000000f5;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #63636333 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .Fragments {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #e49fff;
        --theme-secondary: #c46bcf;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #b547ff;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);

        /* SIDEBAR */
        --sidebar-button: #000000;
        --sidebar-button-text: #9e9999;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: #fff;
        --sidebar-background: #000000;

        /* TEXT COLORS */
        --text-headline: #a8d9ff;
        --text-headline-secondary: #4ca1e2;
        --text-sub-headline: #e2ebff;
        --text-body: #ffffff;
        --text-sub-body: #e0e0e0;
        --text-placeholder: #929292;
        --text-menu: rgb(234, 205, 255);

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #22364e;
        --background-secondary: #0a2547;
        --background-teritary: linear-gradient(0deg, #00295c,#00152e 40%);
        --background-modal: #000000f5;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #63636333 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .BlackRed {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #7a0000;
        --theme-secondary: #7b1dff;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #29a2ff;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #11aa3a;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #848484;
        --action-disabled: rgb(69, 69, 69);

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);

        /* SIDEBAR */
        --sidebar-button: #000000;
        --sidebar-button-text: #9e9999;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: #fff;
        --sidebar-background: #2a0000;

        /* TEXT COLORS */
        --text-headline: #ffa2a2;
        --text-headline-secondary: #ff4646;
        --text-sub-headline: #fff;
        --text-body: #999;
        --text-sub-body: #666;
        --text-placeholder: #555;
        --text-menu: #999;

        /* INPUT */
        --input-label: #ff7474;
        --input-border: #ff7474;
        --input-placeholder: #b4bdc5;
        --input-text-color: #ffffff;
        --input-background: #f8fcff2b;
        --input-hover: #ff6e6e;

        /* BACKGROUNDS */
        --background-primary: rgb(50, 0, 0);
        --background-secondary: #000000;
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-card: rgb(63, 27, 27);
        --background-modal: #ffffff;
        --background-modal-overlay: #00000060;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: rgba(91, 0, 0, 0.6) 0px 2px 8px 0px;
        --shadow-dark: rgba(50, 0, 0, 0.251) 0px 30px 60px -12px, rgba(0, 0, 0, 0.302) 0px 18px 36px -18px;
        --shadow-inset: rgba(44, 44, 44, 0.11) 1px 1px 6px 0px inset, rgba(255, 255, 255, 0.102) -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .Music {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #00c347;
        --theme-secondary: #171717;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #29a2ff;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #848484;
        --action-disabled: rgb(69, 69, 69);

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);


        /* SIDEBAR */
        --sidebar-button: #000000;
        --sidebar-button-text: #9e9999;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: #fff;
        --sidebar-background: #000000;

        /* TEXT COLORS */
        --text-headline: #00c347;
        --text-headline-secondary: #3cff84;
        --text-sub-headline: #fff;
        --text-body: #999;
        --text-sub-body: #666;
        --text-placeholder: #555;
        --text-menu: #999;

        /* INPUT */
        --input-label: #ff7474;
        --input-border: #ff7474;
        --input-placeholder: #b4bdc5;
        --input-text-color: #ffffff;
        --input-background: #f8fcff2b;
        --input-hover: #ff6e6e;

        /* BACKGROUNDS */
        --background-primary: #000000;
        --background-secondary: #0c1c00;
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-card: black;
        --background-modal: #000000f5;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: rgba(0, 201, 7, 0.6) 0px 2px 8px 0px;
        --shadow-dark: rgba(50, 0, 0, 0.251) 0px 30px 60px -12px, rgba(0, 0, 0, 0.302) 0px 18px 36px -18px;
        --shadow-inset: rgba(44, 44, 44, 0.11) 1px 1px 6px 0px inset, rgba(255, 255, 255, 0.102) -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .List {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #ffa8c5;
        --theme-secondary: #fbaaff;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --dark-medium: #666;
        --dark-light: #999;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #5f0074;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);


        /* SIDEBAR */
        --sidebar-button: #34004b;
        --sidebar-button-text: #5da9ff;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: #fff;
        --sidebar-background: #34004b;

        /* TEXT COLORS */
        --text-headline: #461c46;
        --text-headline-secondary: #004981;
        --text-sub-headline: #ffffff;
        --text-body: #333;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #f6f6f6;

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff9fe;
        --background-secondary: #ffb6cf;
        --background-teritary: linear-gradient(90deg, var(--background-secondary), white 100%);
        --background-modal: #1a001df6;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #63636333 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .Yeti {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #4cd9d4;
        --theme-secondary: #fff;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --dark-medium: #666;
        --dark-light: #999;
        --light: #fff;

        /* ACTIONS */
        --action-primary: #fff;
        --action-secondary: #fff;
        --action-option: #183c40;
        --action-success: #fff;
        --action-info: #fff;
        --action-warning: #fff;
        --action-error: #fff;
        --action-cancel: #fff;
        --action-disabled: #fff;

        /* SELECTED */
        --selected-primary: #174544;
        --selected-secondary: #fff;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);

        /* SIDEBAR */
        --sidebar-button: #fff;
        --sidebar-button-text: #4cd9d4;
        --sidebar-button-hover: #4cd9d4;
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: #174544;
        --sidebar-background: #fff;

        /* TEXT COLORS */
        --text-headline: #52e2ff;
        --text-headline-secondary: #417d6a;
        --text-sub-headline: #174544;
        --text-body: #008f62;
        --text-sub-body: #fff;
        --text-placeholder: #fff;
        --text-menu: #8ff0ff;

        /* INPUT */
        --input-label: #fff;
        --input-border: #9ef5ff;
        --input-placeholder: #fff;
        --input-text-color: #fff;
        --input-background: #fff;
        --input-hover: #fff;

        /* BACKGROUNDS */
        --background-primary: #edfffe;
        --background-secondary: #fff;
        --background-teritary: linear-gradient(90deg, var(--background-secondary), white 100%);
        --background-card: linear-gradient(180deg, #183c40 40px, transparent 44px);
        --background-modal: #1a001df6;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #17454463 0px 2px 8px 0px;
        --shadow-dark: #17454463 0px 30px 60px -12px, #17454463 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #174544;
        --misc-1: #2e5c5b;
        --misc-2: #11403f;
        --misc-3: #2d5054;
        --misc-4: #183c40;
        --misc-5: #386a70;
        --misc-6: #2d5c6e;
        --misc-7: #385b69;
        --misc-8: #50707d;
        --misc-9: #32676e;
    }
    .Designer {
        --font-sub-headline: 20px;
        --font-body: 18px;
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #1e3961;
        --theme-secondary: #000231;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #29a2ff;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);

        /* SIDEBAR */
        --sidebar-button: #000000;
        --sidebar-button-text: #9e9999;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: var(--theme-gradient);
        --sidebar-button-selected-text: #fff;
        --sidebar-background: #000000;

        /* TEXT COLORS */
        --text-headline: #346081;
        --text-headline-secondary: #004981;
        --text-sub-headline: #00566c;
        --text-body: #333;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #626262;

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff;
        --background-secondary: #f3f3f3;
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-card: #fff;
        --background-modal: #000000f5;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #63636333 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .Heroes {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #bdaf9c;
        --theme-secondary: #a1ecff;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #03adfc;
        --action-secondary: #006abc;
        --action-option: #00d8e3;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #ff8080;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);


        /* SIDEBAR */
        --sidebar-button: #fff0da;
        --sidebar-button-text: #666;
        --sidebar-button-hover: linear-gradient(-90deg, #000000, --theme-secondary);
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: #daccb9;
        --sidebar-button-selected-text: #444;
        --sidebar-background: rgb(0, 0, 0);

        /* TEXT COLORS */
        --text-headline: #111;
        --text-headline-secondary: #222;
        --text-sub-headline: #007fa6;
        --text-body: #333;
        --text-sub-body: #444;
        --text-placeholder: #999;
        --text-menu: #777;

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff;
        --background-secondary: radial-gradient(#61c5ff, #12a8ff);
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-card: #fff;
        --background-modal: #fff;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #00000033 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
        
    }
    .Burgers {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #6b71e2;
        --theme-secondary: #6f50cb;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #5f0074;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);


        /* SIDEBAR */
        --sidebar-button: #34004b;
        --sidebar-button-text: #fff;
        --sidebar-button-hover: transparent;
        --sidebar-button-hover-text: #ffce1b;
        --sidebar-button-selected: #ffce1b;
        --sidebar-button-selected-text: #db0000;
        --sidebar-background: #db0000;

        /* TEXT COLORS */
        --text-headline: #db0000;
        --text-headline-secondary: #6cbfff;
        --text-sub-headline: #777;
        --text-body: #222;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #f6f6f6;

        /* INPUT */
        --input-label: #002745;
        --input-border: #a4d0ff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff;
        --background-secondary: #ffce1b;
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-modal: #ffffff;
        --background-card: #fff;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #33333333 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .DnD {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #6b71e2;
        --theme-secondary: #6f50cb;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #e56d6d;
        --action-secondary: #006abc;
        --action-option: #585858;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;
        --action-loading: #333;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: #BC0F0F;
        --selected-menu-gradient: var(--theme-gradient);
        --selected-menu-underline: #BC0F0F;

        /* SIDEBAR */
        --sidebar-button: #34004b;
        --sidebar-button-text: #fff;
        --sidebar-button-hover: #555;
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: #f3f3f3;
        --sidebar-button-selected-text: #333;
        --sidebar-background: #222;

        /* TEXT COLORS */
        --text-headline: #BC0F0F;
        --text-headline-secondary: #b35555;
        --text-sub-headline: #8841ad;
        --text-body: #333;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #fff;

        /* INPUT */
        --input-label: #e56d6d;
        --input-border: #e56d6d;
        --input-placeholder: #e56d6d;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #333;
        --background-secondary: #333;
        --background-teritary: linear-gradient(0deg, #74e2ff,#d8f6ff 40%);
        --background-modal: #ffffff;
        --background-card: #c9c9c9;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #ffffff;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #33333333 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 30px 60px -12px, #0000004d 0px 18px 36px -18px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #26b80d;
        --misc-1: #0c8fc7;
        --misc-2: #c28513;
        --misc-3: #a93bd1;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #109191;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
    }
    .Social {
        // Generic colors
        --font: "Poppins", sans-serif;
        --theme-primary: #c7bee6;
        --theme-secondary: #a1ecff;
        --theme-gradient: linear-gradient(-45deg, var(--theme-primary), var(--theme-secondary));
        --dark: #333;
        --light: #f3f3f3;

        /* ACTIONS */
        --action-primary: #004768;
        --action-secondary: #006abc;
        --action-option: #00d8e3;
        --action-success: #37e666;
        --action-info: #50d6ff;
        --action-warning: #fddd48;
        --action-error: #f15555;
        --action-cancel: #5b5b5b;
        --action-disabled: #cdcdcd;

        /* SELECTED */
        --selected-primary: #75b2e1;
        --selected-secondary: #ffad42;
        --selected-menu: var(--theme-secondary);
        --selected-menu-gradient: var(--theme-gradient);


        /* SIDEBAR */
        --sidebar-button: #012154;
        --sidebar-button-text: #7987a2;
        --sidebar-button-hover: #727799;
        --sidebar-button-hover-text: #fff;
        --sidebar-button-selected: #a1a9da;
        --sidebar-button-selected-text: #444;
        --sidebar-background: rgb(0, 0, 0);

        /* TEXT COLORS */
        --text-headline: #666;
        --text-headline-secondary: #888;
        --text-sub-headline: #444;
        --text-body: #222;
        --text-sub-body: #7b7b7b;
        --text-placeholder: #929292;
        --text-menu: #626262;

        /* INPUT */
        --input-label: #fff;
        --input-border: #fff;
        --input-placeholder: #b4bdc5;
        --input-text-color: #1d9bff;
        --input-background: #f8fcff;
        --input-hover: #c4dcff;

        /* BACKGROUNDS */
        --background-primary: #fff;
        --background-secondary: #f1ece0;
        --background-teritary: #111;
        --background-card: #fff;
        --background-modal: #000000f5;
        --background-modal-overlay: #00000033;
        --background-account: var(--theme-gradient);
        --background-panel: #f3f3f3;

        /* MISCELLANEOUS */
        --hover-brightness: 1.2;
        --shadow-light: #00000033 0px 2px 8px 0px;
        --shadow-dark: #32325d40 0px 8px 12px -4px, #0000004d 0px 4px 8px -4px;
        --shadow-inset: #2c2c2c1c 1px 1px 6px 0px inset, #ffffff1a -1px -1px 6px 1px inset;
        --hr: #333;
        --misc-0: #90fc7d;
        --misc-1: #5bceff;
        --misc-2: #edaa2d;
        --misc-3: #dc7cff;
        --misc-4: #ff3a75;
        --misc-5: #7560ff;
        --misc-6: #f25b35;
        --misc-7: #2cdfdf;
        --misc-8: #edaa2d;
        --misc-9: #dc7cff;
        
    }
}
@media only screen and (max-width: 800px) {
    :root {
        --font-huge: 32px;
        --font-xlarge: 28px;
        --font-large: 24px;
        --font-medium: 18px;
        --font-small: 14px;
        --font-xsmall: 11px;
    }
}