#gallery-image-container {
    margin-top: 48px;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 24px;
    margin-bottom: 48px;
    .flex-column {
        width: fit-content;
        align-items: center;
    }
}

#gallery-image-selector {
    display: grid;
    grid-template-columns: 33% 67%;
    height: 100%;
    .text-body {
        color: black;
    }
    .disabled {
        cursor: not-allowed;
        svg {
            color: var(--action-disabled);
        }
    }
    .loadingComponent, img {
        width: 100%;
        padding: 0px;
        animation-duration: var(--animation-time-2);
        * {
            border-color: var(--theme-primary);
        }
    }
    .loadingComponent {
        aspect-ratio: 4/3;
    }
    .image-container {
        width: 100%;
        max-width: 880px;
        min-height: fit-content;
        height: 60vh;
        display: flex;
        justify-content: center;
        img {
            display: block;
            max-width:100%;
            max-height:100%;
            width: auto;
            height: auto;
        }
    }
    .flex {
        justify-content: center;
        flex-wrap: nowrap;
    }
    #button-layout {
        display: grid;
        grid-template-columns: auto auto;
        width: 100%;
    }
}